AlgorithmsAndDataStructures/bin/Debug/netstandard2.0/DataStructures.deps.json
AlgorithmsAndDataStructures/bin/Debug/netstandard2.0/DataStructures.dll
AlgorithmsAndDataStructures/bin/Debug/netstandard2.0/DataStructures.pdb
AlgorithmsAndDataStructures/bin/Release/netstandard2.0/DataStructures.deps.json
AlgorithmsAndDataStructures/bin/Release/netstandard2.0/DataStructures.dll
AlgorithmsAndDataStructures/bin/Release/netstandard2.0/DataStructures.pdb
AlgorithmsAndDataStructures/obj/AlgorithmsAndDataStructures.csproj.nuget.cache
AlgorithmsAndDataStructures/obj/AlgorithmsAndDataStructures.csproj.nuget.g.props
AlgorithmsAndDataStructures/obj/AlgorithmsAndDataStructures.csproj.nuget.g.targets
AlgorithmsAndDataStructures/obj/DataStructures.csproj.nuget.cache
AlgorithmsAndDataStructures/obj/DataStructures.csproj.nuget.g.props
AlgorithmsAndDataStructures/obj/DataStructures.csproj.nuget.g.targets
AlgorithmsAndDataStructures/obj/project.assets.json
AlgorithmsAndDataStructures/obj/Debug/netstandard2.0/AlgorithmsAndDataStructures.csprojResolveAssemblyReference.cache
AlgorithmsAndDataStructures/obj/Debug/netstandard2.0/DataStructures.AssemblyInfo.cs
AlgorithmsAndDataStructures/obj/Debug/netstandard2.0/DataStructures.AssemblyInfoInputs.cache
AlgorithmsAndDataStructures/obj/Debug/netstandard2.0/DataStructures.csproj.CoreCompileInputs.cache
AlgorithmsAndDataStructures/obj/Debug/netstandard2.0/DataStructures.csproj.FileListAbsolute.txt
AlgorithmsAndDataStructures/obj/Debug/netstandard2.0/DataStructures.dll
AlgorithmsAndDataStructures/obj/Debug/netstandard2.0/DataStructures.pdb
AlgorithmsAndDataStructures/obj/Release/netstandard2.0/DataStructures.AssemblyInfo.cs
AlgorithmsAndDataStructures/obj/Release/netstandard2.0/DataStructures.AssemblyInfoInputs.cache
AlgorithmsAndDataStructures/obj/Release/netstandard2.0/DataStructures.csproj.CoreCompileInputs.cache
AlgorithmsAndDataStructures/obj/Release/netstandard2.0/DataStructures.csproj.FileListAbsolute.txt
AlgorithmsAndDataStructures/obj/Release/netstandard2.0/DataStructures.dll
AlgorithmsAndDataStructures/obj/Release/netstandard2.0/DataStructures.pdb
DataStructureTests/bin/Debug/netcoreapp2.0/DataStructures.dll
DataStructureTests/bin/Debug/netcoreapp2.0/DataStructures.pdb
DataStructureTests/bin/Debug/netcoreapp2.0/DataStructureTests.deps.json
DataStructureTests/bin/Debug/netcoreapp2.0/DataStructureTests.dll
DataStructureTests/bin/Debug/netcoreapp2.0/DataStructureTests.pdb
DataStructureTests/bin/Debug/netcoreapp2.0/DataStructureTests.runtimeconfig.dev.json
DataStructureTests/bin/Debug/netcoreapp2.0/DataStructureTests.runtimeconfig.json
DataStructureTests/bin/Debug/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
DataStructureTests/bin/Debug/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
DataStructureTests/bin/Debug/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
DataStructureTests/bin/Release/netcoreapp2.0/DataStructures.dll
DataStructureTests/bin/Release/netcoreapp2.0/DataStructures.pdb
DataStructureTests/bin/Release/netcoreapp2.0/DataStructureTests.deps.json
DataStructureTests/bin/Release/netcoreapp2.0/DataStructureTests.dll
DataStructureTests/bin/Release/netcoreapp2.0/DataStructureTests.pdb
DataStructureTests/bin/Release/netcoreapp2.0/DataStructureTests.runtimeconfig.dev.json
DataStructureTests/bin/Release/netcoreapp2.0/DataStructureTests.runtimeconfig.json
DataStructureTests/bin/Release/netcoreapp2.0/xunit.runner.reporters.netstandard15.dll
DataStructureTests/bin/Release/netcoreapp2.0/xunit.runner.utility.netstandard15.dll
DataStructureTests/bin/Release/netcoreapp2.0/xunit.runner.visualstudio.dotnetcore.testadapter.dll
DataStructureTests/obj/DataStructureTests.csproj.nuget.cache
DataStructureTests/obj/DataStructureTests.csproj.nuget.g.props
DataStructureTests/obj/DataStructureTests.csproj.nuget.g.targets
DataStructureTests/obj/project.assets.json
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.AssemblyInfo.cs
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.AssemblyInfoInputs.cache
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.csproj.CopyComplete
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.csproj.CoreCompileInputs.cache
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.csproj.FileListAbsolute.txt
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.csprojResolveAssemblyReference.cache
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.dll
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.pdb
DataStructureTests/obj/Debug/netcoreapp2.0/DataStructureTests.Program.cs
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.AssemblyInfo.cs
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.AssemblyInfoInputs.cache
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.csproj.CopyComplete
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.csproj.CoreCompileInputs.cache
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.csproj.FileListAbsolute.txt
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.csprojResolveAssemblyReference.cache
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.dll
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.pdb
DataStructureTests/obj/Release/netcoreapp2.0/DataStructureTests.Program.cs
